.container-big-card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.container-big-card {
  width: 680px;
  height: 580px;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background-color: #111111;
  border-radius: 0.5rem;

  box-shadow: 0 4px 6px -1px rgba(255, 255, 255, 0.2),
    0 2px 4px -1px rgba(255, 255, 255, 0.1);

  transition: box-shadow 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.container-big-card:hover {
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2),
    0 4px 8px rgba(255, 255, 255, 0.1);
  transform: translateY(-5px);
}

.big-card-photo img {
  width: 630px;
  height: auto;
  max-height: 300px;
  border-radius: 0.5rem;
  object-fit: cover;
}

.big-card-title {
  font-size: 15px;
  margin-top: 0.5rem;
  width: 100%;
}

.big-card-title h1 {
  font-family: "Reg";
  margin: 0;
  padding: 0;
  color: #fff;
}

.big-card-description {
  margin-top: 1rem;
  width: 100%;
}

.big-card-description p {
  font-size: 20px;
  font-family: "Thin";
  color: gray;
  margin: 0;
}

@font-face {
  font-family: "Reg";
  src: url(./fonts/VVDS-Fifties-SExp-Reg.otf);
}

@font-face {
  font-family: "Thin";
  src: url(./fonts/VVDS-Fifties-SExp-Thin.otf);
}

@media (max-width: 1024px) {
  .container-big-card {
    width: 500px;
    height: 450px;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .big-card-photo img {
    width: 460px;
    height: 260px;
    max-height: 300px;
    border-radius: 0.5rem;
    object-fit: cover;
  }
  .big-card-title {
    font-size: 12px;
    margin-top: 0.5rem;
    width: 100%;
  }

  .big-card-description p {
    font-size: 18px;
    font-family: "Thin";
    color: gray;
    margin: 0;
  }
}

