.container-menu-title {
  color: white;
  max-width: 1350px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

}

@font-face {
  font-family: "MinhaFonte";
  src: url(./fonts/VVDS-Fifties-SExp-Bold.otf);
}

.container-menu-title > h1 {
  margin: 0;
  padding: 0;
  font-size: 180px;
  font-family: "MinhaFonte", sans-serif;
  font-weight: bolder;
  display: block;
  letter-spacing: 1.5rem;
}

.container-menu-title > hr {
  margin-top: 20px;
  border: 0;
  height: 2px;
  background: gray;
  width: 100%;
}

