<div>
  <div class="container-small-card">
    <div class="container-small-card-content">
      <div class="small-card-photo">
        <img
          src="{{ photoCover }}"
          alt="placeholder"
        />
      </div>

      <div class="small-card-title">
        <h1>
          <a [routerLink]="['/content', cardId]">
            {{ cardTitle }}
          </a>
        </h1>
      </div>
    </div>
  </div>
  <div class="container-small-card-hr">
    <hr class="small-card-hr" />
  </div>
</div>
