@font-face {
  font-family: "Reg";
  src: url(./fonts/VVDS-Fifties-SExp-Reg.otf);
}

.container-menu-bar > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Reg";
  display: flex;
  justify-content: center;
}

.container-menu-bar > ul > li {
  margin-top: 20px;
  margin-right: 20px;
  list-style: none;
}

@media (max-width: 768px) {
  .container-menu-bar ul {
    font-size: 95%;
  }

}

@media (min-width: 320px) and (max-width: 425px) {
  .container-menu-bar ul {
    font-size: 70%;
  }

}
